/* src/index.css */
body {
  background-color: black; /* Setează fundalul paginii la negru */
  color: white; /* Optional: Schimbă culoarea textului la alb pentru a fi vizibil pe fundalul negru */
  margin: 0; /* Elimină marginile implicite */
  height: 100vh; /* Asigură că fundalul umple întreaga înălțime a ferestrei */
  display: flex; /* Folosește flexbox pentru a centra conținutul */
  justify-content: center; /* Centrează pe axa orizontală */
  align-items: center; /* Centrează pe axa verticală */
}

/* src/index.css */
p {
  font-size: 1.5rem; /* Setează dimensiunea textului paragrafului */
  line-height: 1.6; /* Crește înălțimea liniei pentru o citire mai ușoară */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
